<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/djangoapp/">Home</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link active" href="about">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact">Contact Us</a>
            </li>
            <li>
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Username" name="username" >
                        <input type="password" class="form-control" placeholder="Password" name="psw" >
                        <button class="btn btn-primary" type="submit">Login</button>
                        <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                    </div>
                </form>
                {% endif %}
            </li>
            </ul>
        </div>
        </nav>
    
        
        <div class="container-fluid">
            
            <form action="{% url 'djangoapp:add_review' dealer.id%}" method="post">
                <div class="container">
                    <h5>Add a review about {{dealer.full_name}}</h5>
                    {% csrf_token %}
                    <hr>
                    <div class="form-group"> 
                        <label for="content"><b>Content</b></label>
                        <textarea class="form-control" id="content" name="content" rows="2" required></textarea>
                        
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck">
                            <label class="form-check-label" for="purchasecheck">
                                Has purchased the car from {{dealer.full_name}} ?
                            </label>
                            <label class="text-muted">(select purchased car information below if checked)</label>
                        </div>
                        <div>
                            <label for="car">Select your car (model-make-year):</label>
                            <select name="car" id="car" class="form-select" required>
                                {% for car in cars %}
                                <option selected value={{car.id}}>{{car.name}}-{{car.make.name}}-{{ car.year|date:"Y" }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <label for="purchasedate"><b></b>Select Your Purchase Date:</b></label>
                            <input class="date-own form-control" style="width: 300px;" type="text" name="purchasedate" id="purchasedate">
                        </div>
                        
                        {% if message %}
                        <div class="alert alert-warning"> 
                            {{ message }}
                        </div>
                        {% endif %}
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </div>
            </form>
            
        </div>

    </body>

    <script type="text/javascript">
        $('.date-own').datepicker({
           format: 'mm/dd/yyyy'
         });
   </script>

</html>