<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/djangoapp/">Home</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link active" href="about">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact">Contact Us</a>
            </li>
            <li>
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Username" name="username" >
                        <input type="password" class="form-control" placeholder="Password" name="psw" >
                        <button class="btn btn-primary" type="submit">Login</button>
                        <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                    </div>
                </form>
                {% endif %}
            </li>
            </ul>
        </div>
        </nav>
        
    
        <div class="container-fluid">
            <h5>This is {{dealer.full_name}}' reviews:</h5>
            <a class="btn btn-link" href="{% url 'djangoapp:add_review' dealer.id%}">Add Review</a>
            <div class="container">
                <div class="card-columns">
                    {% for review in reviews %}
                    <div class="col-auto mb-3">
                        <div class="card">
                            {% if review.sentiment == "positive" %}
                            <img src="{{MEDIA_URL}}/emoji/positive.png" width="25px" height="25px">
                            {% elif review.sentiment == "negative" %}
                            <img src="{{MEDIA_URL}}/emoji/negative.png" width="25px" height="25px">
                            {% else %}
                            <img src="{{MEDIA_URL}}/emoji/neutral.png" width="25px" height="25px">
                            {% endif %}
                            <div class="card-body bg-light">
                            <p class="card-text">{{review.review}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    
    </body>

</html>